* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    min-width: 1000px;

    background-color: white;
}

body {
    background-color: greenyellow;
    font-family: sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#grid {
    display: flex;
    flex-flow: row wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border: solid 1px black;

    color: black;


}

.square_81 {
    width: 111px;
    height: 111px;
}


.square_49 {
    width: 142px;
    height: 142px;
}

.square.active {
    background-color: #1e8eb8;
    font-weight: bold;
}